Repository SaltiestSyrup/RWRandomizer, pull requests merged in 2025-03, with the labels that each got.

#41 Fix pearl location name calculation
  Hooks/GameLoopHooks.cs
Labels: is: bug, affects: archipelago, priority: high

#34 Add bypass option to PPwS setting
  Archipelago/ArchipelagoConnection.cs
  Hooks/GameLoopHooks.cs
Labels: is: enhancement, meta: apworld integration, affects: archipelago

#35 Add support for expanded food quest
  Archipelago/ArchipelagoConnection.cs
  Constants.cs
  Hooks/GameLoopHooks.cs
  Hooks/MiscHooks.cs
  ManagerVanilla.cs
  Menu/OptionsMenu.cs
  ModFiles/atlases/randomizer.png
  ModFiles/atlases/randomizer.txt
  ModFiles/atlases/sprites/ColoredSymbol_SeedCob.png
  Options.cs
  Plugin.cs
Labels: is: enhancement, meta: apworld integration, affects: archipelago

#48 Implement sheltersanity
  Archipelago/ArchipelagoConnection.cs
  Hooks/GameLoopHooks.cs
Labels: is: enhancement, meta: apworld integration, affects: archipelago

#49 New format for receiving messages
  Archipelago/ArchipelagoConnection.cs
  Hooks/GameLoopHooks.cs
  ManagerVanilla.cs
  Menu/HudExtension.cs
  Menu/MenuExtension.cs
  Plugin.cs
  RainWorldRandomizer.csproj
  Unlock.cs
Labels: affects: archipelago, is: aesthetic, affects: standalone

#45 Add visual region accessibility map
  Archipelago/ManagerArchipelago.cs
  Menu/MenuExtension.cs
  Menu/OptionsMenu.cs
  Options.cs
  Plugin.cs
Labels: affects: archipelago, is: aesthetic, affects: standalone
